html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg {
  background-color: lightpink;
}

/*#app {
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 10px 10px 10px gray;
  margin: 1rem auto;
  padding: 2rem;
  width: 960px;
}*/
